<div class="main full-height flex-container flex-column">
    <h1>NGX-datatable Responsive demo</h1>
    
    <div class="table-wrapper flex-grow flex-container">
        <ngx-datatable 
            class="flex-grow"
            [rows]="rows" 
            [columnMode]="'force'"
            [headerHeight]="22"
            [footerHeight]="30"
            [rowHeight]="22"
            [virtualization]="true"
            [scrollbarV]="true"
            [messages]="{
                emptyMessage: 'No data to display',
                totalMessage: 'records',
                selectedMessage: 'selected'
              }"
            [selected]="selected"
            [selectionType]="'checkbox'"
            (tableContextmenu)="onTableContextMenu($event)"
            (activate)="onActivate($event)"
            (select)="onSelect($event)"
            >

          <!-- Checkbox column -->
          <ngx-datatable-column
              [width]="30"
              [sortable]="false"
              [canAutoResize]="false"
              [draggable]="false"
              [resizeable]="false"
              [headerCheckboxable]="true"
              [checkboxable]="true"
          ></ngx-datatable-column>

          <ngx-datatable-column name="Name" minWidth="100"></ngx-datatable-column>
          <ngx-datatable-column name="Gender"></ngx-datatable-column>
          <ngx-datatable-column name="City" prop="address.city"></ngx-datatable-column>
          
        </ngx-datatable>
    </div>
</div>