// :host is used to style the component itself.
:host {
    display: block;
    height: 100%;
}

// We put colors on elements to see them visually well.
.main {
    h1 {
        background-color: #903de3;
        color:white;
        padding: 6px;
        margin-bottom: 0;
    }

    .table-wrapper {
        background-color: #daead8;
    }
}

// For the styling of the ngx-datatable, we need to 
// use ng-deep to disable the view-encapsulation. 
// We could also put this code in the styles.scss file to have it globally available.
::ng-deep {
    .ngx-datatable {
        .datatable-header {
            background-color: #d9c3ef;
            border-bottom: solid 2px #c18cc8;
        }

        .datatable-footer {
            background-color: #d9c3ef;
            padding: 0 4px;

            .datatable-footer-inner, .datatable-footer-inner.selected-count {
                .page-count, .selected-count .page-count {
                    background-color: lightgoldenrodyellow;
                    flex-basis: auto;
                }
        
                .datatable-pager {
                    background-color: lightcyan;
                    flex-basis: auto;

                    .pager {
                        a {
                            text-decoration: none;
                            color: black;
                        }

                        .pages{
                            padding: 0 4px;

                        }
                    }
                }
            }
        }

    } 
}

// If the screen is smaller than 600px, the pages (numbers) are hidden.
@media screen and (max-width: 600px) {
    // we need ng-deep again to style the ngx-datatable.
    ::ng-deep {
         .ngx-datatable .datatable-footer .datatable-pager .pager .pages {
            display: none;
        }
    }
}
